/* src/styles/globals.css */

html,
body {
    font-family: 'Afacad Flux', sans-serif !important; /* Ensure this matches the font-family */
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Optional: Add styles for headers or other elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
